.settings {
	display: flex;
	width: 100%;
	margin: 20px auto;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	input {
		margin: 5px 0;
	}
}
.vs {
	display: flex;
	justify-content: space-evenly;
	.art-container {
		display: flex;
		flex-direction: column;
		// justify-content: center;
		align-items: center;
		.art-header {
			font-size: 2rem;
		}
	}
}

#pixelart-html,
#pixelart-svg,
#pixelart-canvas {
	border: solid 0.1px transparentize($color: black, $amount: 0.9);
}

.canvas {
	display: flex;
	flex-direction: column;
}

.cellrow {
	display: flex;
	.cell {
		border: solid 0.1px transparentize($color: black, $amount: 0.9);
		cursor: crosshair;
		&:hover {
			background: yellow;
		}
	}
}

.art-header {
	display: flex;
	// align-items: center;
}

.btn {
	padding: 0.1rem 0.4rem;
	background: rgb(103, 103, 160);
	color: white;
	border-radius: 0.2rem;
	border: 0;
	font-size: 1.2rem;
	&:hover {
		background: rgb(94, 94, 131);
	}
}

.btn-square {
	$size: 30px;
	width: $size;
	height: $size;
	padding: 0;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.no-line-height {
	line-height: 0;
}

.d-none {
	display: none;
}

.mx-1 {
	margin: 1rem;
}
