.draw-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.settings {
	display: flex;
	width: 100%;
	margin: 20px auto;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	input {
		margin: 5px 0;
	}
}
.vs {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	.art-container {
		display: flex;
		flex-direction: column;
		// justify-content: center;
		align-items: center;
		.art-header {
			font-size: 2rem;
		}
	}
}

#pixelart-html,
#pixelart-svg,
#pixelart-canvas {
	border: solid 0.1px transparentize($color: black, $amount: 0.9);
}

.canvas {
	display: flex;
	flex-direction: column;
}

.cellrow {
	display: flex;
	.cell {
		border: solid 0.1px transparentize($color: black, $amount: 0.9);
		cursor: crosshair;
		&:hover {
			background: yellow;
		}
	}
}

.art-header {
	display: flex;
	// align-items: center;
}

.btn {
	padding: 0.1rem 0.4rem;
	background: tomato;
	color: white;
	border-radius: 0.2rem;
	border: 0;
	font-size: 1.2rem;
	&:hover {
		background: red;
	}
}

.btn-square {
	$size: 30px;
	width: $size;
	height: $size;
	padding: 0;
}
