// @import url('https://fonts.googleapis.com/css?family=Cookie');

// $btn-bg: #ff5f5f;
$btn-bg: tomato;
$btn-text: white;
$btn-box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5);

.bmc-button img {
	height: 34px !important;
	width: 35px !important;
	margin-bottom: 1px !important;
	box-shadow: none !important;
	border: none !important;
	vertical-align: middle !important;
}

.bmc-button {
	//  my style
	position: absolute;
	top: 10px;
	right: 10px;
	align-items: center;
	// my style
	line-height: 35px !important;
	height: 51px !important;
	text-decoration: none !important;
	display: inline-flex !important;
	color: $btn-text !important;
	background-color: $btn-bg !important;
	border-radius: 5px !important;
	border: 1px solid transparent !important;
	padding: 7px 15px 7px 10px !important;
	font-size: 16px !important;
	letter-spacing: 0.6px !important;
	box-shadow: $btn-box-shadow !important;
	margin: 0 auto !important;
	font-family: 'Cookie', cursive !important;
	box-sizing: border-box !important;
}

.bmc-button:hover,
.bmc-button:active,
.bmc-button:focus {
	text-decoration: none !important;
	box-shadow: $btn-box-shadow !important;
	opacity: 0.85 !important;
	color: white !important;
}
